# Root-level ignore rules
.running_pids
*.log
.DS_Store

# Ignore environment files
**/.env
!**/.env.example

# Ignore virtual environments, data and node modules
**/.venv/
**/venv/
**/node_modules/
**/__pycache__/
*.pyc
**/dist/
**/data/
